<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Roboto+Mono" rel="stylesheet">
  <meta charset="utf-8">
  <title>Geospatial Data Service</title>
</head>
<body>
    <h1>Geospatial Data Service</h1>
    <h2><a></a>API Documentation</h2>
    <h3><a></a>POST <code>/api/intersect</code></h3>
    <p>
      Takes a <span class="bold">boundary</span> object and an array of <span class="bold">sites</span> and returns the sites with geometries that intersect with the boundary geometry.<br/><br/>
      Requires a JSON <code>body</code> with <code>boundary</code> and <code>sites</code> key-value pairs.<br/><br/>
      The <code>boundary</code> value should be a GeoJSON Feature with Polygon geometry and the <code>sites</code> value should be an array of such features.<br/><br/>
      e.g: <code>{
        "boundary": {
          "type": "Feature",
          "geometry": {}
        },
        "sites": []
      }
    </code>
    </p>
</body>
</html>
