body {  
    font-family: 'Lato', sans-serif;
    color: rgb(50,50,50);
    margin-left: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28pt;
}

h2 {
    font-size: 22pt;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 16pt;
    margin-bottom: 15px;
}

p {
    font-size: 11.5pt;
    margin-bottom: 40px;
    line-height: 1.5;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: #008080;
    background-color: whitesmoke;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.bold {
    font-weight: bold;
}